* {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    -moz-osx-font-smoothing: grayscale;
}

input, button {
    border: none;
}

button:hover {
    cursor: pointer;
}

html {
    font-size: 16px;
}

body {
    background-color: #661a00;
}

.wrapper {
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 50px;
}

h1 {
    color: #d5b07c;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 3rem;
}

dialog {
    align-self: center;
    justify-self: center;

    padding: 20px;
    border-radius: 5px;

    background-color: #d5b07c;
    font-size: 1.25rem;
    width: clamp(375px, 50vw, 400px);
}

input {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;

    background-color: #fff1dd;
}

input[type="checkbox"] {
    width: 50%;
    height: 50%;
    justify-self: center;
    align-self: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

::backdrop {
    background-color: antiquewhite;
    opacity: 0.75;
}

form button {
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #fff1dd;

    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 20px;
}

.newBookBtn {
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #bc6a3c;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.newBookBtn:hover {
    background-color: #91522e;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

    width: clamp(250px, 50vw, 800px);
    background-color: #d5b07c;
    padding: 20px;
    border-radius: 10px;
}

.card > div {
    display: flex;
    flex-direction: column;
    gap: 5px;

    justify-content: center;
    align-items: center;

    background-color: antiquewhite;
    padding: 20px;
    border-radius: 5px;
    border-left: 10px solid #661a00;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
    font-size: 1.25rem;
}

.card > div > div {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    display: flex;

    justify-content: center;
    align-items: center;
}

.card > div > div:first-child {
    font-weight: bold;
    font-size: 1.5rem;

    margin-bottom: 20px;
}

.card > div > div:nth-child(4) {
    margin-bottom: 20px;
}